# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/main/.vs
*.ilk
/main/Debug
/main/x64/Debug/*.log
/main/x64/Debug/3Dteam.tlog/*.lastbuildstate
/main/x64/Debug/3Dteam.tlog/*.tlog
/main/x64/Debug/*.idb
/main/x64/Debug/*.pdb
/main/x64/Debug/3Dteam.tlog
/main/Debug/vc142.pdb.BASE.pdb
/main/Debug/vc142.pdb.LOCAL.pdb
/main/Debug/vc142.pdb.REMOTE.pdb
/main/Debug/*.log
/main/Debug/3Dteam.tlog/*.lastbuildstate
/main/Debug/3Dteam.tlog/*.tlog
/main/Debug/*.idb
/main/Debug/*.pdb
/main/Debug/3Dteam.tlog
/main/Debug/3Dteam.ilk

/main/Debug
